html, body { margin: 0; padding: 0; height: 100%; }
html, body, input, button { font-family: Consolas; font-style: italic; }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#message {
    width: 17.2rem;
}
#view {
    border: none;
    height: 25rem;
    width: 20rem;
    resize: none;
}
/* .view2 {
    max-width: 20rem;
    height: 25rem;
    overflow: scroll;
} */
.box {
    max-width: 20rem;
}
.content {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
#copyright {
    color: white;
}
#list {
    position: absolute;
    top: auto;
    right: 5rem;
}